<% include partials/header.ejs %>

        <header>
            <h1> So You Want to Learn to Program </h1>
            <hr />
        </header>
       
        <main>
            
            <div>
                <h3> What language should I learn?</h3>
                
                <img style="padding: 0 15px; float: left;" src="img/programming.png" alt="programming languages image">
                
                <p>You've decided to take the plunge into programming and want to
                learn a language, but you don't know where to start?  Take a look at 
                these suggestions collected from <%= fakerName %> and maybe that'll help you make a decision.</p> 
                
                <p>If you have the desire to build apps for Android or iPhone, take 
                a look at our Mobile section.  Here you can find some information on
                <a class="language">Swift</a> and <a class="language">Java</a> primarily.</p>
                
                <p>Maybe web design is calling your name.  Look into the Web section
                to learn more about <a class="language">HTML</a>, <a class="language">CSS</a>, and <a class="language">JavaScript</a> for frontend, and <a class="language">PHP</a>
                for backend.</p>
                
                <p>Lastly, if you're just after some good old object oriented programming,
                take a look in the General Purpose area for info on <a class="language">Java</a> and <a class="language">Python</a> as some starters.</p>
                
                <p>If you're still on the fence, do a quick search on why you may 
                want to learn.  Or, let us help you out with a <a href="https://www.entrepreneur.com/article/289248">link</a>.
                Here you can see thoughts that coding helps you think and learn to solve problems and
                it can make things easier for you.</p>
                
            </div>
        </main>
        
<% include partials/footer.ejs %>