<% include partials/header.ejs %>

        <header>
            <h1> General Purpose </h1>
            <hr />
        </header>
        
        <main>
            
            <div>
                
                <p>When you want to be able to write programs in a wide variety of 
                environments and for a wide variety of purposes, and general purpose 
                language is what you're after.  </p> 
                
                <img style="padding: 0 15px; float: left;" src="img/python.png" alt="python logo">
                <h3>Python</h3>
                <p>Python keeps coming up as the newest, most friendly, easiest to read 
                language in the realm.  I haven't done much with python, but I did 
                very much enjoy how easy it was.  I was a bit thrown off at first on 
                the lack of ; or ( ) or { }, and the indenting requirements, but 
                that passed quickly.</p>
                <br><br><br>
                
                <img style="padding: 0 15px; float: right;" src="img/rust.png" alt="rust logo">
                <h3>Rust</h3>
                <p>Rust is another language I see come up with high marks in the "I would 
                use this again/more" category.  We had a classmate that was quite interested 
                in it as well.  Developed by Mozilla and similar to C++, it has a focus 
                on speed and security.</p>
                <br><br><br>
                
                <img style="padding: 0 15px; float: left;" src="img/java.png" alt="java logo">
                <h3>Java (again)</h3>
                <p>We can't talk general languages without mentioning Java here.  As 
                noted on the <a href="/mobile">Mobile</a> page, Java is flexible 
                for both general purpose and mobile development.  And, Java programs 
                don't really need to be rewritten to run on different platforms.  With 
                a large amount of applications world wide running on Java, it is a 
                well supported and established language that I at least found easy 
                to learn and use.</p>
                
            </div>
        </main>
        
<% include partials/footer.ejs %>