<% include partials/header.ejs %>

        <header>
            <h1> Web Programming </h1>
            <hr />
        </header>

        <main>
            
            <div>
                
                <p>This area is very new to me, as I'm sure the quality of this website can attest to.  
                However, the internet and web based programming is such a large part of our lives nowadays 
                that knowing how to do development in this field would certainly be beneficial.</p> 
                
                <img style="padding: 0 15px; float: left;" src="img/web.png" alt="web languages logo">
                <h3>Frontend</h3>
                <p>For frontend development, it seems that JavaScript, HTML, and CSS are the big 
                players.  HTML is the markup language to build the websites, and CSS 
                is a styling side of it.  JavaScript, according to Stack Overflow's 2018 Developer Survey, is 
                the most popular language among developers.  People seem to like it 
                because it is flexible (with Node.js it can be run server side too) and works 
                across all major browsers and platforms.  Check out some thoughts <a href="https://www.fullstackacademy.com/blog/nine-best-programming-languages-to-learn-2018">here</a> 
                in section 1.</p>  
                
                <p><i>Image here taken from our orientation powerpoint.</i></p>
                
                <br><br><br>
                <img style="padding: 0 15px; float: right;" src="img/php.jpg" alt="php logo">
                <h3>Server side</h3>
                <p><a href="https://www.fullstackacademy.com/blog/nine-best-programming-languages-to-learn-2018">The same site</a> 
                has another couple sectios, 6 and 7, on PHP and Ruby.  These two languages appear to be 
                great options if you're looking for server side web development.  PHP has more than 75 million
                websites that run it, so work will be needed for quite some time, and Ruby 
                looks like a great new language with lots of support and lots of flexibility for 
                new programmers.  I especially like the unofficial motto, "Matz is 
                nice and so we are nice."</p>
                <br><br>
            </div>
        </main>
        
<% include partials/footer.ejs %>