  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">CSUMB CST 336 Internet Programming Copyright &copy; 2019 Gonzalez, Houser, Pettit, Reed</p>
      <p class="m-0 text-center text-white"><b>Disclaimer:</b> The information on this webpage is fictitious. It is used for academic purposes only.</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>