<% include partials/header.ejs %>

        <h3>Welcome to Earth!</h3>
        
            <img src="/img/earth.jpg" class="img-fluid" alt="Earth" /><br>
        
        <div class="row container-fluid">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p>Earth is the third planet in our solar system, and the only place we know 
                to support life.  This is because it is the only planet we know of to 
                have an atmosphere that contains free oxygen and oceans of water.</p>
                
                <p>Earth is the largest of the rocky planets (the others being Mercury, 
                Venus, and Mars), and smaller than all the gas giants.</p>
                
                <p>Our position relative to the sun, how far out we orbit, is what makes 
                it possible for life to exist here.  We're in the sweet spot where water can 
                exist in liquid form.  Too close and it will evaporate, too far and it'll 
                be ice.</p>
            </div>
            <div class="col-sm-3"></div>
        </div>

<% include partials/footer.ejs %>