<% include partials/header.ejs %>

        <h3>Welcome to Mars!</h3>
        
            <img src="/img/mars.jpg" class="img-fluid" alt="Mars" />
        
        <div class="row container-fluid">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p>Mars is the fourth planet in our solar system.  Named after the Roman 
                god of war, it is often described as the “Red Planet”, as the iron oxide 
                prevalent on its surface gives it a reddish appearance.</p>
                
                <p>Mars is a planet with surface features similar to the impact craters of the Moon and the volcanoes, 
                valleys, deserts, and polar ice caps of Earth. It is also the site of Olympus Mons, the tallest 
                known mountain on a planet within our Solar System.</p>
            </div>
            <div class="col-sm-3"></div>
        </div>

<% include partials/footer.ejs %>