<% include partials/header.ejs %>

        <h3>Welcome to Mercury!</h3>
        
            <img src="/img/mercury.jpg" class="img-fluid" alt="Mercury" /><br>
            
        <div class="row container-fluid">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p>Mercury is the first planet in our solar system, closest to the sun.  
                Even though it is closest to the sun, it isn't the hottest, that is Venus.</p>
        
                <p>The spin of Mercury is quite slow, taking 59 Earch days to make one full 
                rotation - that's a long work day!  And, it gets even worse.  Couple the 
                orbit around the sun, and that's only 1 sunrise every 180 Earth days!!</p>
            </div>
            <div class="col-sm-3"></div>
        </div>

<% include partials/footer.ejs %>