<% include partials/header.ejs %>

        <h3>Welcome to Venus!</h3>
        
            <img src="/img/Venus2.jpg" class="img-fluid" alt="Venus" /><br>
        
        <div class="row container-fluid">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p>Venus is the second planet in our solar system, and our closest neighbor.  
                We can see Venus in the sky, and other than the sun and moon, it is the 
                brightest object regularly viewable.</p>
                
                <p>There are thick clouds covering Venus, making the temperature very hot - 
                hot enough to melt lead.  Otherwise, it is quite similar to Earth, albeit a 
                little smaller.</p>
                
                <p>One fun fact, Venus rotates backwards, so the sun rises in the west and 
                sets in the east.</p>
            </div>
            <div class="col-sm-3"></div>
        </div>

<% include partials/footer.ejs %>