        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
            CST336 Internet Programming.  2019&copy; Houser <br>
            <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br>
            It is used for academic purposes only. <br>
            <figure>
                <img src="img/CSUMB.jpg" alt="CSUMB logo">
            </figure>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>